---
import config from "urodele.config";
---

<footer class="mt-8 flex justify-center flex-col items-center gap-2">
  <div class="text-primary text-xl cursor-help" title="Proletarians of all countries, unite!">★</div>
  <small class="w-full max-w-[720px] min-h-12 flex justify-center items-center opacity-80">
    <a href={config.footer.copyrightUrl} target="_blank">{config.footer.copyright}</a>
  </small>
</footer>
